# Django and DRF
Django>=4.2,<5.0
djangorestframework>=3.14,<4.0

# JWT Authentication
djangorestframework-simplejwt>=5.0.0

# CORS support
django-cors-headers>=4.0.0

# Timezone handling
pytz

# Machine Learning (TensorFlow CPU version)
#tensorflow-cpu>=2.15.0

# Production server
gunicorn>=21.0.0

# Static file serving
whitenoise

# Admin UI customization
django-jazzmin

# PostgreSQL support
psycopg2
#requests
requests
psycopg2-binary